body {
    margin: 0;
}



.box {
    height: 400px;
    background: #fcfcfc;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: 350px;
    background: #ffffff;
    margin-left: 30px;
    margin-right: 30px;
    border: double;
    border: 2px #afa9a9;
    border-style: solid;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 20px;
    margin-top: 20px;
    color: brown;
}

.txt {
    color: #a29494;
    font-family: Candara, sans-serif;
    text-align: center;
    width: 80%;
    line-height: 15px;
}

.button {
    width: 100px;
    height: 30px;
    background: #75d7b1;
    border: double;
    border: 2px #afa9a9;
    border-style: solid;
    text-align: center;
    font-size: 16px;

}

.fa-solid {
    margin-top: 30px;
    font-size: 20px;
    color: #918f8f;
}
